:root {
  /* Cores principais */
  --primary: #6D28D9;
  --primary-hover: #5B21B6;
  --secondary: #8B5CF6;
  --secondary-hover: #56379c;

  /* Texto */
  --text-primary: #1f2937;
  --text-secondary: #6b7280;


  --background: #f7f8fc;
  --surface: #ffffff;
  --surface-hover: #f8f8fb;

  --border: #e5e7eb;
  --border-light: #d1d5db;

  --shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  --radius: 16px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
