:root {
  /* Cores principais */
  --primary: #6D28D9;
  --primary-hover: #5B21B6;
  --secondary: #8B5CF6;
  --secondary-hover: #56379c;
  --primary-text: #FDFDFDff;
  --primary-dark: #091128ff;
  --secondary-dark: #252C47ff;
  --secondary-dark-hover: #333952;

}

html,
body,
#root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
     min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #f7f8fc;
  color: #1f2937;
}

input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}